@import '~sass-reset';

* {
    font-family: 'Lato', sans-serif;
}

.header {
    height: 3.16rem;
    background: rgb(61, 78, 169);
    background: linear-gradient(
        180deg,
        rgba(61, 78, 169, 1) 0%,
        rgba(63, 105, 212, 1) 100%
    );
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
    &__logo-container {
        display: flex;
        align-items: center;
    }
    &__logo-container:hover {
        cursor: pointer;
    }
    &__logo {
        transform: rotate(-15deg);
        margin-right: 0.6rem;
        font-size: 1.85rem;
    }
    &__text {
        font-weight: 600;
        letter-spacing: 1px;
    }
    &__login {
        font-size: 1.3rem;
        margin-left: auto;
        background-color: #586fc5;
        border-radius: 1rem;
        padding: 0.4rem;
    }
    &__login:hover {
        cursor: pointer;
    }
}

.tabs {
    margin-top: 0.8rem;
    border-bottom: 2px solid #E7ECFF;
    &__movie {
        color: #1976d2;
        font-size: 1.8rem;
    }
    &__star {
        color: #ffcd17;
        font-size: 1.8rem;
    }
}

.home {
    color: #a8a8a8;
    &__search-container {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;        
        margin-top: 2rem;        
        
    }

    &__search-box {
        border: 2px solid #e0e0e0;
        display: flex;
        align-items: center;
        padding: 0.4rem 0.6rem;
        border-radius: 0.5rem;
        width: 100%;
        margin-right: 0.4rem;
    }
    &__search{
        margin-left: 0.5rem;
    }


    &__filter{
        border: 2px solid #e0e0e0;
        padding: 0.4rem;
        border-radius: 0.5rem;
    }

}
